@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}


	<br>
		<div class="container-of-container">
		<div class="container">
			<div class="area1 grid-item one">
				
				<div class="cont-img-prin">
					<a href="/articles/noticia1/">
						<img class="img-prin" src="/media/1007/noticia1.jpg" width="80%" height="100%" aling="middle" >
					</a>
				</div>
				<h3 class="titles">Aprueban Conpes cafetero, hoja de ruta para el sector durante los próximos 9 años</h3>
				<div class="cont-parraf">
					<p>Fruto de la labor conjunta del Gobierno nacional y la Federación Nacional de Cafeteros (FNC), acaba de ver la luz el documento Conpes 4052 “Política para la sostenibilidad de la caficultura colombiana”, hoja de ruta de la acción pública para el sector a 2030.</p>
				</div>
				<div class="link-pgprin">
					
					<a class="link-pg"  href="/articles/noticia1/"><h3>Click aquí para leer más   </h3></a>
				</div>
			</div>
			<div class="area2 grid-item two">
				<div class="cont-img-prin">
					<a href="">
						<img class="img-prin" src="/media/1008/noticia2.jpg" width="80%" height="100%" aling="middle" >
					</a>
				</div>
				<h3 class="titles">"Facebook debilita la democracia", denuncia exempleada</h3>
				<div class="cont-parraf">
					<p>Facebook antepone sus beneficios a la seguridad de sus usuarios y oculta que sus plataformas son nocivas para los menores, fomentan la división social y debilitan la democracia, alertó ayer una exempleada ante un subcomité del Senado de Estados Unidos.</p>
				</div>
				<div class="link-pgprin">
					
					<a class="link-pg"  href="/articles/noticia2/"><h3>Click aquí para leer más   </h3></a>
				</div>
			</div>
			<div class="area3 grid-item three">
				<div class="cont-img-sec">
					<a href="/articles/noticia3/">
						<img class="img-sec" src="/media/1009/noticia3.jpg" width="80%" height="100%" aling="middle" >
					</a>
				</div>
				<h4 class="titles">No hay mal que dure 100 años: Jefferson Lerma, sobre el juego Uruguay - Colombia</h4>
				<div class="cont-parraf-sec">
					<p>El volante habló de los 48 años que lleva la Selección sin ganar en Montevideo.</p>
				</div>
				<div class="link-pgpsec">
					
					<a class="link-pg"  href="/articles/noticia3/"><h3>Click aquí para leer más   </h3></a>
				</div>
			</div>
			<div class="area4 grid-item four">
			    <div class="cont-img-sec">
					<a href="/articles/noticia4/">
						<img class="img-sec" src="/media/1010/noticia4.jpg" width="80%" height="100%" aling="middle" >
					</a>
				</div>
				<h4 class="titles">Llegan la 5K y el Circuito de Observación en bici en Manizales para la semana próxima</h4>
				<div class="cont-parraf-sec">
					<p>Serán el miércoles y el sábado de la semana próxima. Inscripciones abiertas.</p>
				</div>
				<div class="link-pgpsec">
					
					<a class="link-pg"  href="/articles/noticia4/"><h3>Click aquí para leer más   </h3></a>
				</div>
			</div>
			<div class="area5 grid-item five">
			<div class="cont-img-sec">
					<a href="/articles/noticia5/">
						<img class="img-sec" src="/media/1011/noticia5.jpg" width="80%" height="100%" aling="middle" >
					</a>
				</div>
				<h4 class="titles">Bañeras cargadas con amor: del Colegio Santa Inés para el SES Hospital de Caldas</h4>
				<div class="cont-parraf-sec">
					<p>Los 103 paquetes contienen artículos de aseo y ropa de bebé. Se entregarán a recién nacidos vulnerables.</p>
				</div>
				<div class="link-pgpsec">
					
					<a class="link-pg"  href="/articles/noticia5/"><h3>Click aquí para leer más   </h3></a>
				</div>
			</div>
		 </div>
	</div>  
	<br>
	