<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT simpleContentPage ANY>
<!ATTLIST simpleContentPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1064" key="9c1f2a41-9843-4dab-b653-5bca0c5fb3a9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2021-10-04T16:22:16" updateDate="2021-10-05T22:01:24" nodeName="HomePage" urlName="homepage" path="-1,1064" isDoc="" nodeType="1062" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1061" nodeTypeAlias="homePage" isPublished="true">
    <bodyText><![CDATA[<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Cuerpo</span></span></p>]]></bodyText>
    <PageTitle><![CDATA[Titulo]]></PageTitle>
    <gridArtile><![CDATA[{
  "name": "Columna1",
  "sections": [
    {
      "grid": 8,
      "rows": [
        {
          "name": "8 Column Article",
          "areas": [
            {
              "grid": 8,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "c14faa79-6095-05f2-332b-d330bbbaf010"
        },
        {
          "name": "8 Column Article",
          "areas": [
            {
              "grid": 8,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "6cb7e1f4-c748-8b1e-6839-c2dc2566c966"
        },
        {
          "name": "4 column",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "13e31443-3902-ce86-533b-b521ded269cf"
        }
      ]
    }
  ]
}]]></gridArtile>
    <footerText><![CDATA[Footer]]></footerText>
    <simpleContentPage id="1069" key="bc5b32ee-019f-448b-80e9-3345397c0efa" parentID="1064" level="2" creatorID="0" sortOrder="0" createDate="2021-10-05T01:05:17" updateDate="2021-10-05T01:05:17" nodeName="Contact Us" urlName="contact-us" path="-1,1064,1069" isDoc="" nodeType="1067" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1066" nodeTypeAlias="simpleContentPage" isPublished="true">
      <bodyText><![CDATA[<p>Esta va a ser la página de contacto</p>]]></bodyText>
      <pageTitle><![CDATA[Página de contacto]]></pageTitle>
    </simpleContentPage>
    <articlesMain id="1078" key="d9a9d277-f0d5-4930-99aa-79c1c58c201b" parentID="1064" level="2" creatorID="0" sortOrder="1" createDate="2021-10-05T11:34:14" updateDate="2021-10-08T00:17:05" nodeName="Articles" urlName="articles" path="-1,1064,1078" isDoc="" nodeType="1071" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1070" nodeTypeAlias="articlesMain" isPublished="true">
      <articlesBodyText><![CDATA[<p>A continuación verá las noticias más importantes del día.</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[Noticias más destacadas del día]]></articlesTitle>
      <articlesItem id="1079" key="2a8d73a3-7c3e-43f9-b135-3c0e7f30491e" parentID="1078" level="3" creatorID="0" sortOrder="0" createDate="2021-10-05T11:38:30" updateDate="2021-10-08T03:03:28" nodeName="Noticia1" urlName="noticia1" path="-1,1064,1078,1079" isDoc="" nodeType="1075" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1074" nodeTypeAlias="articlesItem" isPublished="true">
        <firtsParagraph><![CDATA[<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Fruto de la labor conjunta del Gobierno nacional y la Federación Nacional de Cafeteros (FNC), acaba de ver la luz el documento Conpes 4052 “Política para la sostenibilidad de la caficultura colombiana”, hoja de ruta de la acción pública para el sector a 2030 .</span></span></p>]]></firtsParagraph>
        <noticeImage><![CDATA[umb://media/e1ad59d1c6f54c4fa8cc100abf375522]]></noticeImage>
        <articleContents><![CDATA[<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Fruto de la labor conjunta del Gobierno nacional y la Federación Nacional de Cafeteros (FNC), acaba de ver la luz el documento Conpes 4052 “Política para la sostenibilidad de la caficultura colombiana”, hoja de ruta de la acción pública para el sector a 2030 .</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">“Este documento Conpes para el sector cafetero es de la mayor trascendencia. </span><span style="vertical-align: inherit;">Ningún otro sector agrícola colombiano lo tiene ”, dijo el Gerente General de la FNC, Roberto Vélez Vallejo.</span></span></p>
<p>El documento, aprobado por el Consejo Nacional de Política Económica y Social (Conpes), formula una política encaminada a garantizar a largo plazo la sostenibilidad económica, social y ambiental de la actividad cafetera para reducir la incertidumbre y dependencia de los productores a programas sociales y transferencias monetarias.</p>
<p>Esta hoja de ruta parte de un diagnóstico detallado de los principales desafíos y áreas de oportunidad de la caficultura colombiana, que incluyen baja productividad por acceso limitado a activos productivos, inestabilidad del ingreso por riesgos climáticos y de mercado, barreras de mercado para la comercialización interna y externa del café verde y transformado, y una insuficiente oferta de bienes públicos en los eslabones de la cadena de café, incluida una baja conectividad digital.</p>
<p>Un ejemplo diciente de la pertinencia del diagnóstico es que, de todo el café exportado, un muy alto porcentaje es verde, de modo que el potencial para exportar grano de mayor valor agregado es enorme.</p>
<p>Esta política integral propone un plan de acción centrado en cuatro ejes estratégicos u objetivos específicos, que se desarrollarán por medio de 11 líneas de acción.</p>
<p>El primero de los objetivos es fomentar el acceso a activos productivos para incrementar la productividad y consiste en 1) reducir y flexibilizar los costos de producción, 2) aumentar la infraestructura para el manejo de la poscosecha, 3) estabilizar los procesos de renovación a nivel de finca cafetera, 4) mejorar la eficiencia en la gestión de recursos hídricos y 5) ampliar el conocimiento de la reglamentación para el manejo de sombríos forestales en fincas cafeteras.</p>
<p>Estabilizar el ingreso del caficultor para reducir el impacto de factores externos que influyen en el precio y la producción de café es el segundo objetivo, que contempla 6) fomentar el acceso a herramientas que reduzcan la incertidumbre y promuevan la gestión de riesgos agropecuarios y la capacidad de ahorro del productor.</p>
<p>Impulsar la comercialización interna y externa de café verde y transformado (según la calidad del producto) es el tercer objetivo, que contempla 7) impulsar la exportación de café con mayor valor agregado, además de 8) garantizar acceso a mercados en cumplimiento de nuevas exigencias sanitarias y de inocuidad, así como 9) impulsar un sistema de compra que reconozca al productor su perfil de taza y aumentar el consumo interno de café.</p>
<p>El cuarto y último objetivo consiste en fortalecer la oferta de bienes públicos en los eslabones de la cadena del café para hacer más competitiva la actividad cafetera mediante 10) la reducción de los altos costos de transporte y exportación, y 11) el aumento de la conectividad digital en zonas cafeteras.</p>
<p>Cada una de estas líneas de acción tiene plazos específicos y entidades responsables de su ejecución, lo que facilitará su seguimiento y evaluación de resultados.</p>
<p>Pese a los esfuerzos del Gobierno por financiar programas que fortalecen la productividad y la competitividad, así como apoyos directos para atender a caficultores afectados por fenómenos climatológicos y la volatilidad del mercado cafetero, estos han sido insuficientes para garantizar que la caficultura sea sostenible a largo plazo.</p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">De modo que el nuevo documento Conpes sectorial llega para abordar de forma más integral y articulada los desafíos del sector cafetero con la mira puesta en procurar su sostenibilidad a largo plazo.</span></span></p>
<p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Esta política, que será ejecutada en un horizonte de 9 años, con una inversión mínima de $ 34.531 millones de los recursos del Presupuesto General de la Nación para adelantar los diferentes programas y que se deberán aprobar en la vigencia respectiva, será implementada de forma articulada por los ministerios de Agricultura; </span><span style="vertical-align: inherit;">Comercio, Industria y Turismo; </span><span style="vertical-align: inherit;">Ambiente; </span><span style="vertical-align: inherit;">Hacienda y Transporte, entre otras entidades públicas, de la mano de la institucionalidad cafetera.</span></span></p>]]></articleContents>
        <photo><![CDATA[<p><img style="width: 160px; height: 106px;" src="/media/1007/noticia1.jpg?width=160&amp;height=106" alt="imgNoticia1" data-udi="umb://media/e1ad59d1c6f54c4fa8cc100abf375522" /></p>]]></photo>
        <articleTitle><![CDATA[Aprueban Conpes cafetero, hoja de ruta para el sector durante los próximos 9 años]]></articleTitle>
      </articlesItem>
      <articlesItem id="1080" key="81912781-2e8c-419a-a5cd-0e1967fa32c4" parentID="1078" level="3" creatorID="0" sortOrder="1" createDate="2021-10-05T11:38:40" updateDate="2021-10-07T09:59:15" nodeName="Noticia2" urlName="noticia2" path="-1,1064,1078,1080" isDoc="" nodeType="1075" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1074" nodeTypeAlias="articlesItem" isPublished="true">
        <firtsParagraph><![CDATA[<p>Facebook antepone sus beneficios a la seguridad de sus usuarios y oculta que sus plataformas son nocivas para los menores, fomentan la división social y debilitan la democracia, alertó ayer una exempleada ante un subcomité del Senado de Estados Unidos.</p>]]></firtsParagraph>
        <noticeImage><![CDATA[umb://media/605a014535174d6da5a76f0ca4cb6013]]></noticeImage>
        <articleContents><![CDATA[<p>Frances Haugen, de 37 años, comenzó a trabajar en Facebook como responsable de Producto en 2019, pero decidió abandonar la compañía ante la desinformación que vio tras las elecciones en EE.UU. del pasado noviembre, que desembocaron en el asalto al Capitolio en enero por seguidores del entonces presidente, Donald Trump.</p>
<p>En su testimonio, Haugen hizo un retrato despiadado de la empresa, porque durante el tiempo que estuvo trabajando en ella se dio cuenta de una "verdad devastadora": Facebook oculta información al público y a los Gobiernos.</p>
<p>"Los documentos que he proporcionado al Congreso prueban que Facebook ha engañado al público de forma repetida sobre lo que su propia investigación revela acerca de la seguridad de los niños, la eficacia de su inteligencia artificial y su papel para expandir mensajes divisorios y extremistas", dijo la informante.</p>
<div id="standard_6" class="st-placement standard_6 inArticle">
<div class="st-adunit st-reset st-show">
<div class="st-adunit-ad st-reset">
<div class="st-display-render st-reset">
<div class="st-reset">
<div class="important-styled st-canvas-container open LeaderboardModule display-standard fssquz2">
<div class="important-styled st-canvas-el fhxwyqa">
<div class="important-styled st-canvas-container undefined fssquz2">
<div class="important-styled st-canvas-el fhxwyqa">
<div class="important-styled st-canvas-container undefined fssquz2">
<div class="important-styled st-canvas-el fhxwyqa">
<div class="important-styled f1u5e9na">
<div class="important-styled display-render-wrapper f1u5e9na">Explicó que decidió testificar ante el Congreso porque cree que los productos de Facebook (que aparte de su propia plataforma es dueña de Whatsapp e Instagram) dañan a los menores, fomentan la división y debilitan la democracia.</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<p>"Los líderes de la compañía saben cómo hacer que Facebook e Instagram sean más seguros, pero no harán los cambios necesarios porque anteponen sus beneficios astronómicos a la gente", lamentó.</p>
<p><strong>Instagram funciona como el tabaco</strong></p>
<p>En ese sentido, precisó que la compañía actúa como los fabricantes de tabaco, es decir, que promueve hábitos entre los menores a través de Instagram para que se enganchen, como ocurre con los cigarrillos.</p>
<p>Y denunció que Instagram ha cambiado las vidas de los niños y adolescentes que sufren acoso en la escuela, dado que "el 'bullying' los sigue hasta casa, los sigue hasta sus dormitorios".</p>
<p>A su juicio, dentro de la empresa se toman decisiones "desastrosas" para los menores, la seguridad pública y la privacidad de los individuos. "Es por eso que debemos exigir a Facebook que haga cambios", afirmó.</p>
<p>Desde Facebook, la única reacción que hubo al testimonio de Haugen fueron los tuits de uno de su portavoces, Andy Stone, quien puntualizó que la exempleada "no trabajó en seguridad de menores en Instagram ni investigó sobre estos temas, ni tuvo un conocimiento directo del asunto desde su labor en Facebook".</p>
<p><strong>Descarta un ataque</strong></p>
<p>Facebook descartó ayer que el apagón mundial de sus servicios el lunes durante seis horas fuera provocado por un ataque informático y lo achacó a un error técnico causado por la propia compañía.</p>
<p>En una entrada en el blog corporativo, el vicepresidente de infraestructura de Facebook, Santosh Janardhan, aseguró que la caída de los servicios "no fue causada por actividad maliciosa, sino por un error causado por nosotros mismos".</p>]]></articleContents>
        <articleTitle><![CDATA["Facebook debilita la democracia", denuncia exempleada]]></articleTitle>
      </articlesItem>
      <articlesItem id="1081" key="f36f2cfb-1008-4622-8fa8-95eabcf42aba" parentID="1078" level="3" creatorID="0" sortOrder="2" createDate="2021-10-05T11:38:49" updateDate="2021-10-08T02:40:25" nodeName="Noticia3" urlName="noticia3" path="-1,1064,1078,1081" isDoc="" nodeType="1075" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1074" nodeTypeAlias="articlesItem" isPublished="true">
        <firtsParagraph><![CDATA[<p><img style="width: 118px; height:21px;" src="/media/1004/noticia3.jpg?width=118&amp;height=21" alt="ImageNoticia4" data-udi="umb://media/e68d049d0484483089ad1d6d2d74bf11" />Jefferson Lerma apeló a la actitud como clave para que Colombia pueda vencer de nuevo a Uruguay en Montevideo. La última vez, por eliminatorias, fue hace 48 años. En sus últimas siete visitas cayó 5 veces y consiguió 2 empates.</p>]]></firtsParagraph>
        <noticeImage><![CDATA[umb://media/e68d049d0484483089ad1d6d2d74bf11]]></noticeImage>
        <articleContents><![CDATA[<p>"No hay mal que dure 100 años y vamos convencidos, con la actitud de ir por los tres puntos", dijo el centrocampista del Bournemouth.</p>
<p>Aseguró que, aunque perdieron el último juego, mantienen la "intención, las ganas y el deseo de ir a triunfar a Uruguay".</p>
<p>La última vez que Colombia visitó a Uruguay en el estadio Centenario, de Montevideo, cayó 3-0 y, en la primera vuelta de estas eliminatorias cuando se enfrentaron en Barranquilla, los charrúas se impusieron también por 0-3 cuando el técnico cafetero era el portugués Carlos Queiroz.</p>
<div id="standard_6" class="st-placement standard_6 inArticle">
<div class="st-adunit st-reset st-show">
<div class="st-adunit-ad st-reset">
<div class="st-display-render st-reset">
<div class="st-reset">
<div class="important-styled st-canvas-container open LeaderboardModule display-standard fssquz2">
<div class="important-styled st-canvas-el fhxwyqa">
<div class="important-styled st-canvas-container undefined fssquz2">
<div class="important-styled st-canvas-el fhxwyqa">
<div class="important-styled st-canvas-container undefined fssquz2">
<div class="important-styled st-canvas-el fhxwyqa">
<div class="important-styled f1u5e9na">
<div class="important-styled display-render-wrapper f1u5e9na">"Sabemos que Uruguay es un equipo complicado, que siempre pelea, pero solo tenemos que hacer una cosa nosotros: jugar bien al fútbol y tratar de hacerle daño para quedarnos con el mejor resultado", dijo el volante.</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<p>Igualmente señaló que el rival es "un equipo directo, el cual está por encima de nosotros, pero ahora tenemos que ir paso a paso, intentar sacar un buen resultado".</p>
<p>Lerma destacó que "Uruguay tiene muy buenos jugadores", pero que tampoco "es imposible" para los futbolistas colombianos "marcar diferencia y poner el partido" a su favor.</p>
<p>"Sabemos que va a ser un duelo bastante complicado, intenso, pero tenemos que ser inteligentes a la hora de asumir este papel. Sabemos que estos partidos son bastante especiales pero las Eliminatorias Suramericanas son las más difíciles que puede haber", dijo.</p>]]></articleContents>
        <articleTitle><![CDATA[No hay mal que dure 100 años: Jefferson Lerma, sobre el juego Uruguay - Colombia]]></articleTitle>
      </articlesItem>
      <articlesItem id="1082" key="088a84de-bc13-4800-9f4b-2c29aa5fa9a5" parentID="1078" level="3" creatorID="0" sortOrder="3" createDate="2021-10-05T11:38:57" updateDate="2021-10-07T09:57:32" nodeName="Noticia4" urlName="noticia4" path="-1,1064,1078,1082" isDoc="" nodeType="1075" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1074" nodeTypeAlias="articlesItem" isPublished="true">
        <firtsParagraph><![CDATA[<p>La ciudad se llenará la próxima semana de deporte. El miércoles se efectuará la 5K y el sábado siguiente será el circuito de observación urbano en bicicleta.</p>]]></firtsParagraph>
        <noticeImage><![CDATA[umb://media/1b97e060c8bb453dbc24be79a0450912]]></noticeImage>
        <articleContents><![CDATA[<p>Las dos actividades son organizadas por LA PATRIA en la celebración de sus 100 años, con el patrocinio de Confa, la Alcaldía de Manizales y el Instituto de Cultura y Turismo.</p>
<p>El objetivo de las dos actividades es integrar a toda la comunidad que hoy practica dos de los deportes con mayor tendencia en medio de la pandemia: el ciclismo y el atletismo.</p>
<p> <strong>Circuito de Observación en Bici</strong></p>
<p><strong>Fecha:</strong><span> </span>Sábado 16 de octubre.</p>
<p><strong>Hora:<span> </span></strong>De 7:30 a.m. a 2:00 p.m.</p>
<p><strong>Ruta</strong>: De Colonizadores en Chipre a la Glorieta de Milán.</p>
<p><strong>Premiación:<span> </span></strong>Campeones: $1.000.000; subcampeones: $800 mil, y terceros: $500 mil.</p>
<p><strong>Valor inscripción</strong>: $30 mil por pareja (incluye camiseta y número).</p>
<p><strong>Inscripciones:</strong><span> </span>Sede principal de LA PATRIA, carrera 20 número 46-35, barrio Sáenz, teléfono: 8932880 extensiones 116 y 400.</p>
<p> </p>
<p><strong>Los 5K</strong></p>
<p><strong>Fecha:</strong><span> </span>13 de octubre</p>
<p><strong>Hora:<span> </span></strong>De 7:00 p.m. a 10:00 p.m.</p>
<p><strong>Ruta:</strong><span> </span>Torres Panorama (salida), Fundadores y El Triangulo (meta).</p>
<p><strong>Categoría:</strong><span> </span>Abierta recreativa y mixta (hombres y mujeres a partir de los 18 años).</p>
<p><strong>Premiación:</strong><span> </span>Campeón: $500 mil; Subcampeón: $300 mil, y tercero $200 mil.</p>
<p><strong>Inscripciones:</strong><span> </span>Sede principal de LA PATRIA, carrera 20 número 46-35, barrio Sáenz, teléfono: 8932880 extensiones 116 y 400</p>]]></articleContents>
        <articleTitle><![CDATA[Llegan la 5K y el Circuito de Observación en bici en Manizales para la semana próxima]]></articleTitle>
      </articlesItem>
      <articlesItem id="1083" key="162c0b3e-b802-4ab5-b147-5c83e1cc4dc4" parentID="1078" level="3" creatorID="0" sortOrder="4" createDate="2021-10-05T11:39:35" updateDate="2021-10-07T09:59:54" nodeName="Notica5" urlName="notica5" path="-1,1064,1078,1083" isDoc="" nodeType="1075" creatorName="Juan Camilo" writerName="Juan Camilo" writerID="0" template="1074" nodeTypeAlias="articlesItem" isPublished="true">
        <firtsParagraph><![CDATA[<p>Los mellizos recién nacidos de Ingrid Katherín Restrepo Soriano fueron los primeros dos beneficiados de la campaña que adelanta por estos días el Colegio Santa Inés, con el apoyo de su Asociación de Exalumnas. Recolectaron 103 bañeras con artículos de aseo y ropa y a ellos les donaron dos.</p>]]></firtsParagraph>
        <noticeImage><![CDATA[umb://media/6259bc126fd04b2dbdedb4be9246d92b]]></noticeImage>
        <articleContents><![CDATA[<p>"Estoy muy agradecida. Muy bien recibido el detalle, Dios los bendiga. Me cae muy bien en estos momentos, debido a mi parto múltiple", señaló Restrepo, que sigue internada en el SES Hospital Universitario de Caldas.</p>
<p>Y es en esa institución de salud en la que se entregarán los demás paquetes de cuidado neonatal. Se conoció que al mes, en promedio, son 20 los niños que llegan sin nada para su arribo al mundo.</p>
<p><strong>Regresan</strong><br />Esta iniciativa no es nueva. Se recordó que entre las décadas del 70 y 90 la donación fue más periódica, antes de ser suspendida. Esta se reactivó en el 2018 cuando sor Aurora Morales, que tuvo su paso por el Colegio en bachillerato, regresó como rectora. En eso la secundó la Asociación señalada.</p>
<p> </p>
<p>"La propuse nuevamente. Para nosotros esto es muy significativo. Seguimos la filosofía franciscana, por lo que nos debemos distinguir por el compartir y estar pendientes del más necesitado", subrayó la religiosa el lunes en la entrega de las unidades descritas.</p>
<p>Morales indicó que también colaboraron padres de familia, estudiantes, profesores y amigos, algunos de estos últimos residenciados en Dubái, Inglaterra, Australia, Estados Unidos, entre otros.</p>
<p>"Hay niños que no tienen la oportunidad de disfrutar de algo como esto, por lo que hemos abierto de nuevo esta campaña que tuvo una muy buena acogida", manifestó la rectora con entusiasmo.</p>
<p>A Ángela María Gómez de Cárdenas, quien preside la Asociación hace tres meses, se le vio muy comprometida con la causa. Habló con gratitud de todos aquellos que las acompañaron en este camino.</p>
<p>"Fue mucha gente la que nos ayudó. Esto fue el resultado de toda la generosidad, de mucho amor. Solas no hubiésemos sido capaces de llegar a un número tan alto de bañeras", dijo Gómez, que también fue presidenta de la Asociación Plenitud Tercera Edad y que rige en igual cargo el Voluntariado del Batallón Ayacucho.</p>
<p><strong>Agradecida</strong><br />Ángela María Toro, gerente del SES, también exalumna del Colegio, agradeció la ofrenda en nombre de los bebés que recibirán el regalo. Señaló que la entrega es muestra de la confianza en la institución.</p>
<p>"Cuando a esas mamás de escasos recursos se les da algo, les da una alegría enorme, ¡No lo creen!, les parece imaginario. Esta labor que hacen es enorme y muy hermosa", contó Toro.</p>
<p>La gerente mencionó que la situación de las gestantes migrantes que llegan, también es muy complicada. Criticó que -a veces- no cuidan de los embarazos, toda vez que ni controles prenatales cumplen.</p>
<p>"Vamos a ir entregando lentamente en el Hospital. A la madre Aurora, le reportaremos cuando tengamos niños sin nada. Ella acompañará a algunas alumnas a llevar las bañeras, para que las estudiantes entiendan cuál es el impacto y la labor que se está haciendo", concluyó Toro.</p>
<p><strong>Organizados</strong><br />En el coliseo del Colegio Santa Inés, que tiene capacidad para mil personas, estuvieron alumnas de distintos grados presenciando la entrega de las bañeras. Guardaron la distancia y los protocolos de bioseguridad. Asistieron, además, exalumnas y religiosas.</p>]]></articleContents>
        <articleTitle><![CDATA[Bañeras cargadas con amor: del Colegio Santa Inés para el SES Hospital de Caldas]]></articleTitle>
      </articlesItem>
    </articlesMain>
  </homePage>
</root>